* {
  margin: 4px;
  padding: 0;
  box-sizing: border-box; }

header {
  background-image: url(../assets/imagenes/rsz_21046496.png);
  background-repeat: no-repeat;
  background-size: cover; }
  header .natbar {
    background-image: url(https://th.bing.com/th/id/R.eaebd81008fcc55b297ffb173a8b59a2?rik=L2Ant2LAANpLNw&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat; }
    header .natbar .Linknav {
      text-decoration: none;
      border: solid 2px;
      border-color: #0e2323;
      color: white;
      background-color: black;
      border-radius: 5px; }
    header .natbar .final {
      right: 0; }
    header .natbar .menutransparent:hover {
      background: gray; }
  header .fijo {
    margin: 0%;
    padding: 0%; }
    header .fijo .banner {
      width: 4rem;
      height: 4rem; }

body {
  background-image: linear-gradient(to top, #000000, #1b181c, #282a35, #2c404c, #31585b);
  color: white;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.02cm; }
  body .letratitulo {
    font-family: "Permanent Marker", cursive; }

footer .venta {
  height: 4.5rem;
  width: 5rem; }

footer .letraheader {
  font-family: "Permanent Marker", cursive;
  color: gray; }

main .flextienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; }
  main .flextienda .margen {
    padding: 1rem; }
    main .flextienda .margen .fijar {
      width: 90%; }

main .galeria {
  width: 90%; }

main .bordeado {
  border-right: gray solid;
  border-left: gray solid; }

main .flexible {
  display: block; }

main .normieIMG {
  width: 10rem;
  height: 8rem; }

main .padtitul {
  padding: 10px; }

main form {
  background-image: url(../assets/imagenes/1053867.jpg);
  background-size: cover; }

main .paderror {
  margin: 4rem;
  padding: 4rem; }

main iframe {
  width: 10rem;
  height: 8rem; }

@media (min-width: 992px) {
  header .natbar .final {
    right: 0 !important;
    position: absolute !important; } }

@media (max-width: 768px) {
  header {
    background-image: url(https://i.pinimg.com/originals/8c/97/7d/8c977d06abc3eee45c0e696c3e325dc1.jpg);
    background-size: cover; } }

@media (min-width: 768px) {
  main .flexible {
    display: flex; } }

@media (max-width: 768px) {
  main .galeria {
    width: 100%; } }

@media (max-width: 991px) {
  .custom-toggler {
    color: violet !important;
    border: solid violet 0.3rem !important; } }
