main{
    .galeria{
        width: $widthG;
      }
    .bordeado{
        border-right: $colorsecundario solid;
        border-left: $colorsecundario solid;
      }
    .flexible{
        display: block;
      }
    .normieIMG{
        @include tamaños(10rem, 8rem);
    }
    .padtitul{
      padding: 10px;
  }
}