@media(min-width: 992px){
    header{
        .natbar{
            .final{
                right: 0 !important;
                position: absolute !important;
             }
        }
    }
   }

@media(max-width: 768px){
    header{
        background-image: url(https://i.pinimg.com/originals/8c/97/7d/8c977d06abc3eee45c0e696c3e325dc1.jpg);
        background-size: cover;
    }   
}

@media(min-width:768px){
    main{
        .flexible{
            display: flex;
        }
    }
}

@media(max-width:768px){
    main{
        .galeria{
            width: $widthA;
        }
    }
}

@media(max-width:991px){
    .custom-toggler{
        color: lightgreen !important  ;
        border: solid lightgreen 0.3rem !important;
    }
  }

