$letratitulo: font-family 'Permanent Marker', cursive;
$padtitul: padding 10px;
$normieIMG: height 8rem width 10rem;
$flexible: display flex;
$bordeado: border-right gray solid border-left gray solid;


   

